@model SalaoIedaV4.Models.Servico

@{
    ViewBag.Title = "Details";
}

@{ 
    SalaoIedaV4.Models.Context dc = new SalaoIedaV4.Models.Context();

}

<h2>Details</h2>

<div>
    <h4>Servico</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desc_comentario_servico)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_comentario_servico)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_foto_servico)
        </dt>

        <dd>
            <img src="~/Images/@Model.img_foto_servico" />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idServico }) |
    @Html.ActionLink("Back to List", "Index")
</p>
