@model IEnumerable<SalaoIedaV4.Models.Servico>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Adicionar Novo", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.desc_comentario_servico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.img_foto_servico)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc_comentario_servico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.img_foto_servico)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.idServico }) |
            @Html.ActionLink("Detalhes", "Details", new { id=item.idServico }) |
            @Html.ActionLink("Deletar", "Delete", new { id=item.idServico })
        </td>
    </tr>
}

</table>
