@model IEnumerable<SalaoIedaV4.Models.Tipos_Pagamento>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.desc_tipo_pagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_natureza_pagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_canal_pagamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_ini_vigencia)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_fim_vigencia)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.desc_tipo_pagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_natureza_pagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_canal_pagamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_ini_vigencia)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_fim_vigencia)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idTipos_pagamento }) |
            @Html.ActionLink("Details", "Details", new { id=item.idTipos_pagamento }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idTipos_pagamento })
        </td>
    </tr>
}

</table>
