
@{
    ViewBag.Title = "Index";
}

<h2>Relatorio</h2>



<div>
    <dl  >
        <dt width ="600px" >
            Quantidade de clientes cadastrados: 
            @Html.Display("ClienteCount")
        </dt>
        <dt>
            Quantidade de serviços salvos:
            @Html.Display("ServicoCount")
        </dt>
        <dt>
            Quantidade de agendamentos (mês atual): 
            @Html.Display("AgendaMesCount")
        </dt>
        <dt>
            Quantidade de agendamentos (total):
            @Html.Display("AgendaTotalCount")
        </dt>
        <br />
        <dt>
            Quantidade de agendamentos por tipo (mês):
            
            @foreach (var teste in ViewBag.AgendaMesTipoCount)
            {
                <br />
                <b>&emsp;&emsp;-   </b>
                @teste.NomeTipoServico <b> : </b>
                @teste.agendas
            }

        </dt>
        <br />
        <dt>
            Quantidade de agendamentos por tipo (total):

            @foreach (var teste in ViewBag.AgendaTotalTipoCount)
            {
                <br />
                <b>&emsp;&emsp;-   </b>
                @teste.NomeTipoServico <b> : </b>
                @teste.agendas
            }

        </dt>
        <br />
        <dt>
            Valor recebido (total):
            @Html.Display("ValorTotalSum")

        </dt>
        <dt>
            Valor recebido (mês):
            @Html.Display("ValorMesSum")

        </dt>
        
    </dl>
</div>
