@model IEnumerable<SalaoIedaV4.Models.Agenda>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.dt_data_agendada)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.desc_servico)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tempo_estimado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.cancelamento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.dt_cancelamento)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.dt_data_agendada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.desc_servico)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tempo_estimado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cancelamento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dt_cancelamento)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.idAgenda }) |
            @Html.ActionLink("Details", "Details", new { id=item.idAgenda }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.idAgenda })
        </td>
    </tr>
}

</table>
