@model SalaoIedaV4.Models.Telefone

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Telefone</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.num_tel_principal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_tel_principal)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.num_tel_secundario)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.num_tel_secundario)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idTelefone }) |
    @Html.ActionLink("Back to List", "Index")
</p>
