@model SalaoIedaV4.Models.Cliente

@{
    ViewBag.Title = "Delete";
}

<h2>Remover cliente</h2>


<div>
    <h4>Cliente</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.desc_nome_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_nome_cliente)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.desc_email_cliente)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.desc_email_cliente)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Deletar" class="btn btn-default" /> |
            @Html.ActionLink("Voltar", "Index")
        </div>
    }
</div>
